<section id="detailed" class="section gray">
        <!-- Section begin-->
        <div class="container">
          <h2 class="section-title">Acerca de Allegro</h2>
          <div class="image-slider slick-initialized slick-slider">
            <div class="slick-list draggable" tabindex="0" style="height: 500px;"><div class="slick-track" style="opacity: 1; width: 5700px; transform: translate3d(-1140px, 0px, 0px);"><div class="row section-table slick-slide slick-cloned" data-slick-index="-1" style="width: 1154px;">
              <div class="col-sm-5 features">
                <div class="featured-image"><img src="http://placehold.it/254x500.png" alt="iphone">
                </div>
                <div class="featured-image overlap"><img src="http://placehold.it/254x537.png" alt="iphone">
                </div>
              </div>
              <div class="col-sm-7">
                <h2>Here you have some reasons and some features</h2>
                <ul class="marked">
                  <li>Responsive layout, optimized for high conversion</li>
                  <li>Clean &amp; Beautiful Design focused on good readability</li>
                  <li>Seo Optimized , Light weight code based on bootstrap</li>
                  <li>Easy to Cusyomize With an extensive documentation</li>
                </ul><a href="#product" class="btn smooth-scrolling">Start now!</a>
              </div>
            </div><div class="row section-table slick-slide slick-active" data-slick-index="0" style="width: 1154px;">
              <div class="col-sm-5 features"><img src="http://placehold.it/400x500.png" alt="featured">
              </div>
              <div class="col-sm-7">
                <h2>Te ofrecemos todo lo necesario para iniciar tu propia sucursal y dar a conocer el sabor de Allegro en la zona de tu preferencia, parte de nuestras responsabilidades son:</h2>
                <p>
                  1. Ayuda y asesoramiento en la búsqueda del lugar idea (zonificación y local óptimo).<br>
                  2. Apoyo total en la puesta en marcha (inclusive con presupuestos del tipo "llave en mano").<br>
                  3. Abastecimiento continuo de productos de alta calidad.<br>
                  4. Capacitación constante para el franquiciado y sus empleados.<br>
                  5. Asesoramiento en la gestión diaria, brindando todas las herramientas necesarias para un correcto seguimiento de la economía y las finanzas del franquiciado.<br>
                  6. Entrega inicial del Manual de Operaciones y agregados permanentes.<br>
                  7. Zonas de exclusividad (para las Franquicias y Master Franquicias en el Interior de nuestro país).<br>
                  8. Apoyo en cuestiones laborales (Selección de RRHH, Organigrama base, Rutinas de trabajo, entre otras), administrativas, legales y del negocio en si, en la totalidad de los procesos: antes de la apertura, durante las primeras semanas en el local, y apoyo continuo a lo largo de toda la relación de pares franquiciante-franquiciado".<br>
                </p>
                </div>
            </div><div class="row section-table slick-slide" data-slick-index="1" style="width: 1154px;">
              <div class="col-sm-5 features"><img src="http://placehold.it/400x500.png" alt="featured">
              </div>
              <div class="col-sm-7">
                <h2>Here you have some reasons and some features</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p><a href="#product" class="btn smooth-scrolling">Start now!</a>
              </div>
            </div><div class="row section-table slick-slide" data-slick-index="2" style="width: 1154px;">
              <div class="col-sm-5 features">
                <div class="featured-image"><img src="http://placehold.it/254x500.png" alt="iphone">
                </div>
                <div class="featured-image overlap"><img src="http://placehold.it/254x537.png" alt="iphone">
                </div>
              </div>
              <div class="col-sm-7">
                <h2>Here you have some reasons and some features</h2>
                <ul class="marked">
                  <li>Responsive layout, optimized for high conversion</li>
                  <li>Clean &amp; Beautiful Design focused on good readability</li>
                  <li>Seo Optimized , Light weight code based on bootstrap</li>
                  <li>Easy to Cusyomize With an extensive documentation</li>
                </ul><a href="#product" class="btn smooth-scrolling">Start now!</a>
              </div>
            </div><div class="row section-table slick-slide slick-cloned" data-slick-index="3" style="width: 1154px;">
              <div class="col-sm-5 features"><img src="http://placehold.it/400x500.png" alt="featured">
              </div>
              <div class="col-sm-7">
                <h2>Te ofrecemos todo lo necesario para iniciar tu propia sucursal y dar a conocer el sabor de Allegro en la zona de tu preferencia, parte de nuestras responsabilidades son:</h2>
                <p>
                  1. Ayuda y asesoramiento en la búsqueda del lugar idea (zonificación y local óptimo).
                  2. Apoyo total en la puesta en marcha (inclusive con presupuestos del tipo "llave en mano").
                  3. Abastecimiento continuo de productos de alta calidad.
                  4. Capacitación constante para el franquiciado y sus empleados.
                  5. Asesoramiento en la gestión diaria, brindando todas las herramientas necesarias para un correcto seguimiento de la economía y las finanzas del franquiciado.
                  6. Entrega inicial del Manual de Operaciones y agregados permanentes.
                  7. Zonas de exclusividad (para las Franquicias y Master Franquicias en el Interior de nuestro país).
                  8. Apoyo en cuestiones laborales (Selección de RRHH, Organigrama base, Rutinas de trabajo, entre otras), administrativas, legales y del negocio en si, en la totalidad de los procesos: antes de la apertura, durante las primeras semanas en el local, y apoyo continuo a lo largo de toda la relación de pares franquiciante-franquiciado".

                </p>
              </div>
            </div></div></div>


          <ul class="slick-dots" style="display: block;"><li class="slick-active"><button type="button" data-role="none">1</button></li><li><button type="button" data-role="none">2</button></li><li><button type="button" data-role="none">3</button></li></ul></div>
        </div>
        <!-- Section end-->
      </section>
