<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Usuario: {{order.names}}</h4>
  </div>
  <div class="panel-body">
    <big>Instrucciones de pedidos</big>
    <ul>
      <li>Pedido: {{order.instructions}}</li>
      <li>Dirección de entrega: {{order.address}}</li>
      <li>Número de telefono: {{order.phone}}</li>
    </ul>
  </div>
</div>
