<section id="contacts" class="section">
  <!-- Section begin-->
  <div class="container">
    <h2 class="section-title">CONTACT US</h2>
    <p class="text-center text-italic">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae</p>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <form action="/" class="contacts row">
          <div class="col-sm-6">
            {{input value=email.name placeholder="nombre" class="form-control"}}
          </div>
          <div class="col-sm-6">
              {{input value=email.email placeholder="email" class="form-control"}}
          </div>
          <div class="col-sm-6">
            {{input value=email.phone placeholder="telefono" class="form-control"}}
          </div>
          <div class="col-sm-6">
            <!--<select class="form-control" onchange={{action "selectSubject" value="target.value"}}>
              <option disable>Motivo o Asunto</option>
              {{#each subjects as |subjectContent|}}
                <option value={{subjectContent}} selected={{eq subject subjectContent}}>{{subjectContent}}</option>
              {{/each}}
            </select>-->
            {{select-picker value=email.subject
                content=subjects
                optionGroupPath="group"
                optionLabelPath="content"
                optionValuePath="content"}}
          </div>
          <div class="col-sm-12">
            {{textarea value=email.content placeholder="mensaje" class="form-control"}}
            <div class="alerts-wrap"></div>
            <button type="submit" class="btn" {{action "sendEmail" email}}>Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Section end-->
</section>
