<footer class="footer" fixed>
  <!-- Footer begin-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <ul class="list-inline text-center">
          <li><a href="#" class="social"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="social"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="social"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a href="#" class="social"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" class="social"><i class="fa fa-youtube"></i></a></li>
        </ul>
        <p class="copy">Copyright © 2016 Bitven</p>
      </div>
    </div>
  </div>
  <!-- Footer end-->
</footer>
