<div class="top-bar">
  <div class="container">
    <nav class="nav">
      <div class="brand-logo pull-left">
        <a href="/" class="smooth-scrolling ember-view active"><img src="Imagenes/Logo-ALLEGRO-Final-web-png.png" alt="Logo" style="max-width: 140px; max-height: 160px;"></a>
      </div>
      <ul class="list-inline pull-right">
        <!-- Navigation-->
        <li><a href="#home" class="smooth-scrolling ember-view"><strong>Promociones</strong></a></li>
        <li><a href="#works" class="smooth-scrolling ember-view"><strong>Gustos</strong></a></li>
        <li><a href="#product" class="smooth-scrolling ember-view"><strong>Sucursales</strong></a></li>
        <li><a href="#detailed" class="smooth-scrolling ember-view"><strong>Acerca de</strong></a></li>
        <li><a href="#contacts" class="smooth-scrolling ember-view"><strong>Contacto</strong></a></li>
        <li><a href="#map" class="smooth-scrolling ember-view"><strong>Mapa</strong></a></li>
        <li><a href="#information" class="smooth-scrolling ember-view"><strong>Quienes somos</strong></a></li>
      </ul>
      <button class="fa fa-bars open-mobile-menu"></button>
    </nav>
  </div>
</div>
