<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Allegro Gelato Boutique | Helados Artesanales</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" href="Imagenes/Flor-transparente.png" type="image/x-icon">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="baguetteBox.min.css">
    <link rel="stylesheet" href="animate.css">
    <link rel="stylesheet" href="main.css">
    <link rel="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    {{content-for "head"}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/allegro.css">
  
    {{content-for "head-footer"}}
  </head>
  <body class="no-scroll">
    <div class="site-wrapper">
      {{content-for "body"}}

      <div class="loader">
        <!-- Loader-->
        <div class="spinner"></div>
      </div>
      <!-- Scripts-->
      <script src="jquery.min.js"></script>
      <script src="bootstrap.min.js"></script>
      <script src="jquery.stellar.min.js"></script>
      <script src="jquery.ajaxchimp.min.js"></script>
      <script src="scrollReveal.min.js"></script>
      <script src="baguetteBox.min.js"></script>
      <script src="slick.min.js"></script>
      <script src="flexslider.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true"></script>
      <script src="main.js"></script>
    <script src="assets/vendor.js"></script>
    <script src="assets/allegro.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    </div>
    {{content-for "body-footer"}}
  </body>
</html>
