<section id="information" class="section">
  <div class="container">
    <!-- Sub-Section begin-->
    <h2 class="section-title">¿Quienes somos?</h2>
    <div class="row info">
      <div class="col-xs-6 col-sm-3 text-center">
        <div class="icon fa fa-map-marker"></div>
        <h3>OFFICE LOCATION</h3>
        <p>New York NY 4765, United States.</p>
      </div>
      <div class="col-xs-6 col-sm-3 text-center">
        <div class="icon fa fa-mobile"></div>
        <h3>Call Us</h3>
        <p>1-234-567-890</p>
      </div>
      <div class="col-xs-6 col-sm-3 text-center">
        <div class="icon fa fa-envelope-o"></div>
        <h3>Email</h3>
        <p><a href="mailto:fantonica@gmail.com">fantonica@gmail.com</a></p>
      </div>
      <div class="col-xs-6 col-sm-3 text-center">
        <div class="icon fa fa-clock-o"></div>
        <h3>WORKING HOURS</h3>
        <p>Monday - Friday 10:00 - 18:00</p>
      </div>
    </div>
    <!-- Sub-Section end-->
  </div>
</section>
