<div class="container" style="margin-top: 10%">
  <div class="col-xs-12 col-md-4">
    {{#if model}}
      <h2>Ordenes en Cola: </h2>
      {{#each model as |order|}}
        {{#order-card order=order}}{{/order-card}}
      {{/each}}
    {{else}}
      <h1>No tienes ordenes pendientes</h1>
    {{/if}}
  </div>

  <div class="col-xs-12 col-md-4 col-md-offset-4">
    
  </div>
</div>
