{{#if session.isAuthenticated}}
<div class="container" style="margin-top: 10%">
  <h1>Estas logueado {{session.currentUser.email}}</h1>
  <button type="button" class="btn btn-lg btn-primary" name="button" {{action "signOut"}}>Salir</button>
</div>
{{else}}
  {{#login-form user=model signIn="signIn"}}{{/login-form}}
{{/if}}
