<section id="product" class="section" style="margin-top: 10%;">
  <!-- Section begin-->
  <div class="container">
    <h2 class="section-title">Promociones</h2>
    <p class="text-center text-italic">Passion for design, combined with the best technology, delivers features to you, working better than ever.</p>
    <div class="gallery">
      <div class="item"><a href="http://placehold.it/800x1200.png"><img src="http://placehold.it/280x320.png" alt="Product 1">
          <div class="hover"><i class="fa fa-search-plus"></i></div></a>
      </div>
      <div class="item"><a href="http://placehold.it/800x1200.png"><img src="http://placehold.it/280x320.png" alt="Product 2">
          <div class="hover"><i class="fa fa-search-plus"></i></div></a>
      </div>
      <div class="item"><a href="http://placehold.it/800x1200.png"><img src="http://placehold.it/280x320.png" alt="Product 3">
          <div class="hover"><i class="fa fa-search-plus"></i></div></a>
      </div>
      <div class="item"><a href="http://placehold.it/800x1200.png"><img src="http://placehold.it/280x320.png" alt="Product 4">
          <div class="hover"><i class="fa fa-search-plus"></i></div></a>
      </div>
      <div class="item"><a href="http://placehold.it/800x1200.png"><img src="http://placehold.it/280x320.png" alt="Product 5">
          <div class="hover"><i class="fa fa-search-plus"></i></div></a>
      </div>
      <div class="item"><a href="http://placehold.it/800x1200.png"><img src="http://placehold.it/280x320.png" alt="Product 6">
          <div class="hover"><i class="fa fa-search-plus"></i></div></a>
      </div>
      <div class="item"><a href="http://placehold.it/800x1200.png"><img src="http://placehold.it/280x320.png" alt="Product 7">
          <div class="hover"><i class="fa fa-search-plus"></i></div></a>
      </div>
      <div class="item"><a href="http://placehold.it/800x1200.png"><img src="http://placehold.it/280x320.png" alt="Product 8">
          <div class="hover"><i class="fa fa-search-plus"></i></div></a>
      </div>
    </div>
  </div>
  <!-- Section end-->
</section>

{{#body-footer}}{{/body-footer}}
