<style media="screen">
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

.ch-item {
width: 100%;
height: 100%;
border-radius: 50%;
position: relative;
cursor: default;
box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.ch-thumb {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5);
	transform-origin: 95% 40%;
	transition: all 0.3s ease-in-out;
}

.ch-thumb:after {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	border-radius: 50%;
	top: 40%;
	left: 95%;
	margin: -4px 0 0 -4px;
	background: radial-gradient(ellipse at center, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
	box-shadow: 0 0 1px rgba(255,255,255,0.9);
}

.ch-img-1 {
	background-image: url(http://tympanus.net/Tutorials/CircleHoverEffects/images/7.jpg);
	z-index: 12;
}

.ch-img-2 {
	background-image: url(http://tympanus.net/Tutorials/CircleHoverEffects/images/8.jpg);
	z-index: 11;
}

.ch-img-3 {
	background-image: url(http://tympanus.net/Tutorials/CircleHoverEffects/images/9.jpg);
	z-index: 10;
}

.ch-info {
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	background: #c9512e url(http://tympanus.net/Tutorials/CircleHoverEffects/images/noise.png);
	box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 18px;
	margin: 0 60px;
	padding: 22px 0 0 0;
	height: 85px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #333;
	width: 80px;
	height: 80px;
	background: rgba(255,255,255,0.3);
	border-radius: 50%;
	color: #fff;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 24px;
	margin: 7px auto 0;
	font-family: 'Open Sans', Arial, sans-serif;
	opacity: 0;
	transition:
		transform 0.3s ease-in-out 0.2s,
		opacity 0.3s ease-in-out 0.2s,
		background 0.2s linear 0s;
	transform: translateX(60px) rotate(90deg);
}

.ch-info p a:hover {
	background: rgba(255,255,255,0.5);
}

.ch-item:hover .ch-thumb {
	box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5), 0 1px 3px rgba(0,0,0,0.2);
	transform: rotate(-110deg);
}
.ch-item:hover .ch-info p a{
	opacity: 1;
	transform: translateX(0px) rotate(0deg);
}
.modal  {
    /*   display: block;*/
    padding-right: 0px;
    background-color: rgba(4, 4, 4, 0.8);
    }

    .modal-dialog {
            top: 20%;
                width: 100%;
    position: absolute;
        }
        .modal-content {
                border-radius: 0px;
                border: none;
    top: 40%;
            }
            .modal-body {
                    background-color: #F15A5A;
    color: white;
                }
                .modal-body-h2{
                  color: white;
                }
</style>

<section id="works" class="section">
  <div class="container">
    <h2 class="section-title">Gustos</h2>
    <div class="row">
      <ul class="ch-grid">
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<h3>Cremas</h3>
								<p>Nuestra especialidad <a href="#" data-toggle="modal" data-target=".bs-cremas-modal-lg">Ver Sabores</a></p>
                <div class="modal fade bs-cremas-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                      <div class="modal-body">

                      <h2 style="color: white;">Cremas</h2>
                      <h4>
                        <ul>
                          <li>Banana Split</li>
                          <li>Banana</li>
                          <li>Cereza</li>
                          <li>Coco</li>
                          <li>Americana</li>
                          <li>Granizado</li>
                          <li>Moka</li>
                          <li>Rusa</li>
                          <li>Tiramisu</li>
                          <li>Vainilla</li>
                          <li>Menta Granizada</li>
                          <li>Mascarpone</li>
                          <li>Oreo</li>
                          <li>Tramontana</li>
                          <li>Frutilla</li>
                          <li>Frutilla a la reina</li>
                        </ul>
                      </h4>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
							<div class="ch-thumb ch-img-1"></div>
						</div>
					</li>
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<h3>Cremas Especiales</h3>
								<p>Degustalas como quieras <a href="#" data-toggle="modal" data-target=".bs-cremas-especiales-modal-lg">Ver Sabores</a></p>
                <div class="modal fade bs-cremas-especiales-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                      <div class="modal-body">

                      <h2 style="color: white;">Cremas Especiales</h2>
                      <h4>
                        <ul>
                          <li>Crema del cielo</li>
                          <li>Almendrado</li>
                          <li>Americana con brownies</li>
                          <li>Baileys</li>
                          <li>Sambayon</li>
                          <li>Sambayon con cerezas</li>
                          <li>Dolce Amaretto</li>
                          <li>Alfajoretto</li>
                          <li>Rocher</li>
                          <li>Chocotorta</li>
                          <li>Flan con dulce de leche</li>





                        </ul>
                      </h4>

                      </div>
                    </div>
                  </div>
                </div>
							</div>
							<div class="ch-thumb ch-img-2"></div>
						</div>
					</li>
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<h3>Frutales</h3>
								<p>Perfectos para ti <a href="#" data-toggle="modal" data-target=".bs-frutales-modal-lg">Ver Sabores</a></p>
                <div class="modal fade bs-frutales-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                      <div class="modal-body">

                      <h2 style="color: white;">Frutales</h2>
                      <h4>
                        <ul>
                          <li>Anana</li>
                          <li>Durazno</li>
                          <li>Frambuesa</li>
                          <li>Frutilla</li>
                          <li>Limon</li>
                          <li>Manzana</li>
                          <li>Melon</li>
                          <li>Naranja</li>
                          <li>Pomelo</li>







                        </ul>
                      </h4>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
							<div class="ch-thumb ch-img-3"></div>
						</div>
					</li>
          <li>
						<div class="ch-item">
							<div class="ch-info">
								<h3>Chocolates</h3>
								<p>Cometelos a besos <a href="#" data-toggle="modal" data-target=".bs-chocolates-modal-lg">Ver Sabores</a></p>
                <div class="modal fade bs-chocolates-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                      <div class="modal-body">

                      <h2 style="color: white;">Chocolates</h2>
                      <h4>
                        <ul>
                          <li>Común</li>
                          <li>Almendrado</li>
                          <li>Alpino</li>
                          <li>Amargo</li>
                          <li>Bariloche</li>
                          <li>Blanco</li>
                          <li>Suizo</li>
                          <li>Marroc</li>
                          <li>Allegro</li>







                        </ul>
                      </h4>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
							<div class="ch-thumb ch-img-1"></div>
						</div>
					</li>
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<h3>Dulces de Leche</h3>
								<p>Los mejores de argentina <a href="#" data-toggle="modal" data-target=".bs-dulces-modal-lg">Ver Sabores</a></p>
                <div class="modal fade bs-dulces-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                      <div class="modal-body">

                      <h2 style="color: white;">Dulces de leche</h2>
                      <h4>
                        <ul>
                          <li>Común</li>
                          <li>Granizado</li>
                          <li>Allegro</li>
                          <li>Con Banana</li>
                          <li>Con Nuez</li>
                          <li>Con Merengue</li>










                        </ul>
                      </h4>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
							<div class="ch-thumb ch-img-2"></div>
						</div>
					</li>
					<li>
						<div class="ch-item">
							<div class="ch-info">
								<h3>Mousses</h3>
								<p>Algo sin precedente <a href="#" data-toggle="modal" data-target=".bs-mousses-modal-lg">Ver Sabores</a></p>
                <div class="modal fade bs-mousses-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                      <div class="modal-body">

                      <h2 style="color: white;">Mousses</h2>
                      <h4>
                        <ul>
                          <li>Arandanos</li>
                          <li>Maracuya</li>
                          <li>Limon</li>
                          <li>Chocolate</li>












                        </ul>
                      </h4>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
							<div class="ch-thumb ch-img-3"></div>
						</div>
					</li>
				</ul>
    </div>
  </div>
</section>
<!--<section id="works" class="section">
  <div class="container">
    <h2 class="section-title">Gustos</h2>
    <div class="row">
      <div class="col-sm-4 step">

        <div class="text">
          <h2 class="text-center">Cremas</h2>
          <p>
            <ul>
              <li>Banana Split</li>
              <li>Banana</li>
              <li>Cereza</li>
              <li>Coco</li>
              <li>Americana</li>
              <li>Granizado</li>
              <li>Moka</li>
              <li>Rusa</li>
              <li>Tiramisu</li>
              <li>Vainilla</li>
              <li>Menta Granizada</li>
              <li>Mascarpone</li>
              <li>Oreo</li>
              <li>Tramontana</li>
              <li>Frutilla</li>
              <li>Frutilla a la reina</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="col-sm-4 step">

        <div class="text">
          <h2 class="text-center">Cremas Especiales</h2>
          <p>
            <ul>
              <li>Crema del cielo</li>
              <li>Almendrado</li>
              <li>Americana con brownies</li>
              <li>Baileys</li>
              <li>Sambayon</li>
              <li>Sambayon con cerezas</li>
              <li>Dolce Amaretto</li>
              <li>Alfajoretto</li>
              <li>Rocher</li>
              <li>Chocotorta</li>
              <li>Flan con dulce de leche</li>





            </ul>
          </p>
        </div>
      </div>
      <div class="col-sm-4 step">

        <div class="text">
          <h2 class="text-center">Frutales</h2>
          <p>
            <ul>
              <li>Anana</li>
              <li>Durazno</li>
              <li>Frambuesa</li>
              <li>Frutilla</li>
              <li>Limon</li>
              <li>Manzana</li>
              <li>Melon</li>
              <li>Naranja</li>
              <li>Pomelo</li>







            </ul>
          </p>
        </div>
      </div>
      <div class="col-sm-4 step">

        <div class="text">
          <h2 class="text-center">Chocolates</h2>
          <p>
            <ul>
              <li>Común</li>
              <li>Almendrado</li>
              <li>Alpino</li>
              <li>Amargo</li>
              <li>Bariloche</li>
              <li>Blanco</li>
              <li>Suizo</li>
              <li>Marroc</li>
              <li>Allegro</li>







            </ul>
          </p>
        </div>
      </div>
      <div class="col-sm-4 step">

        <div class="text">
          <h2 class="text-center">Dulces de leche</h2>
          <p>
            <ul>
              <li>Común</li>
              <li>Granizado</li>
              <li>Allegro</li>
              <li>Con Banana</li>
              <li>Con Nuez</li>
              <li>Con Merengue</li>










            </ul>
          </p>
        </div>
      </div>
      <div class="col-sm-4 step">

        <div class="text">
          <h2 class="text-center">Mousses</h2>
          <p>
            <ul>
              <li>Arandanos</li>
              <li>Maracuya</li>
              <li>Limon</li>
              <li>Chocolate</li>












            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>-->
