<header id="home" class="header" style="margin-top: 70px;">
  <!-- Header begin-->
  <div class="header-section">
    <div class="full-width-slider flexslider">
      <ul class="slides">
        <li class="slide flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;"><img src="http://placehold.it/2620x535.png" alt="slide 1" draggable="false" style="margin-left: -884px;">
          <div class="container">
            <div class="slide-content fade-in-left-big">
              <h2 class="text-uppercase" style="visibility: visible; "><strong>AQUI VAMOS A COLOCAR ALGO</strong></h2>
              <p style="visibility: visible; ">Algo que tenga que ver con promociones.</p>
              <form action="/" class="contacts row" style="visibility: visible; ">
              </form>
            </div>
          </div>
        </li>
        <li class="slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><img src="http://placehold.it/2620x535.png" alt="slide 1" draggable="false" style="margin-left: -884px;">
          <div class="container">
            <div class="slide-content tada">
              <h2 class="text-uppercase" style="visibility: visible; ">ALLEGRO<br><strong>Aqui vamos a colocar</strong><br>Cualquier cosa</h2>
            </div>
          </div>
        </li>
        <li class="slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><img src="http://placehold.it/2620x535.png" alt="slide 1" draggable="false" style="margin-left: -884px;">
          <div class="container">
            <div class="slide-content tada">
              <h2 class="text-uppercase" style="visibility: visible; ">LOS MEJORES CONTENIDOS<br><strong>Lo que sea</strong></h2>
              <p style="visibility: visible; ">Lo Importante es llamar la atención de la mejor manera.</p>
            </div>
          </div>
        </li>
        <li class="slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><img src="http://placehold.it/2620x535.png" alt="slide 1" draggable="false" style="margin-left: -884px;">
          <div class="container">
            <div class="slide-content tada">
              <h2 class="text-uppercase" style="visibility: visible; ">ALLEGRO 2<br><strong>
                  FLEXSLIDER
                  &amp;</strong><strong>CSS Animation</strong></h2>
            </div>
          </div>
        </li>
        <li class="slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><img src="http://placehold.it/2620x535.png" alt="slide 1" draggable="false" style="margin-left: -884px;">
          <div class="container">
            <div class="slide-content tada">
              <h2 class="text-uppercase" style="visibility: visible; ">Vamos a romper<br><strong>La Liga</strong></h2>
            </div>
          </div>
        </li>
      </ul>
    <ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li><li><a class="">4</a></li><li><a class="">5</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#"><i class="fa fa-angle-left"></i></a></li><li class="flex-nav-next"><a class="flex-next" href="#"><i class="fa fa-angle-right"></i></a></li></ul></div>
  </div>
</header>
