/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Fantonica Landing page
Version:	1.1
Last change:	16/02/15
Author:	Fantonica team
Primary use:	Marketing sites

[Layout]

* body
    + Include partials
      - Header section / .header-section
      - Forms / .form-control
      - Buttons / .btn
      - Pricing tables / .pricing-table
      - Loader animation / .loader
      - Slick slider styles / .slick-slider
    + Top Bar / .top-bar
      - Brand Logo / .brand-logo
      - Navigation / .nav
    + Header / .header
	+ Content
		- Sections / .section
		  - Section titles / .section-title
		  - Sub-sections / .sub-section
		  - Sections customize / section.bg.subscribe-section, section.bg.our-client-section, section.bg.testimonials-section
        - Tile gallery / .gallery
        - Team / .team
        - Contact Info / .info
        - Subscribe form / .subscribe
        - Testimonials slider / .testimonials-slider
        - Socials icons list / .social
	+ Footer / .footer
	  - Copyright

Global wrapper - .site-wrapper
Navigation - .nav
Content header - h1.section-title
Content sub-header - h2
Section gray background - .section.gray
Overlapping featured images - .featured-image.overlap
Marked list - ul.marked

[Define style properties]

Base font size: 17px
Primary font family: 'Open Sans', sans-sarif

Background:	#ffffff (white)
Main Content:	#808080 (light black)
Header h1:	#3c3c3c (dark gray)
Header h2:	#2e90b8 (blue)
Primary color: #f15a5a (red)
Secondary color: #2e90b8 (dark blue)

a (standard):	#2e90b8 (dark blue)

-------------------------------------------------------------------*/
/* Header section */
.header-section {
  color: #000000; }
  .header-section h1, .header-section h2, .header-section .h1, .header-section .h2 {
    font-size: 64px;
    font-size: 3.76471rem;
    color: #000000;
    font-weight: 300;
    margin-left: -5px;
    margin-left: -0.29412rem;
    margin-top: -5px;
    margin-top: -0.29412rem; }
    .header-section h1 + form, .header-section h1 + div, .header-section h2 + form, .header-section h2 + div, .header-section .h1 + form, .header-section .h1 + div, .header-section .h2 + form, .header-section .h2 + div {
      margin-top: 20px;
      margin-top: 1.17647rem; }
  .header-section .bg {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(http://placehold.it/2620x535);
    padding: 60px 0 60px 0;
    padding: 3.52941em 0 3.52941em 0;
    max-height: 536px; }
    @media (max-width: 480px) {
      .header-section .bg {
        background-position: 63% 0;
        padding: 220px 0 20px 0;
        padding: 12.94118em 0 1.17647em 0; } }
    .header-section .bg:before, .header-section .bg:after {
      content: "";
      position: absolute;
      top: 0;
      right: 50%;
      bottom: 0;
      left: 0;
      z-index: -1; }
    .header-section .bg:after {
      left: 50%;
      right: 0; }
    .header-section .bg:nth-child(1):before {
      background-color: #f0b416; }
    .header-section .bg:nth-child(1):after {
      background-color: #ca8102; }
  .header-section .mouse-scroll {
    position: absolute;
    bottom: 55px;
    bottom: 3.23529rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 27px;
    z-index: 30;
    text-align: center;
    color: #fff; }
    .header-section .mouse-scroll img {
      max-width: 100%;
      margin-bottom: 15px;
      margin-bottom: 0.88235rem; }

/* Customize bootstrap forms */
.form-control {
  background: transparent;
  border: 1px solid #c3c3c3;
  font-size: 15px;
  font-size: 0.88235rem;
  height: 51px;
  height: 3rem;
  line-height: 51px;
  line-height: 3rem;
  margin-bottom: 10px;
  margin-bottom: 0.58824rem;
  outline: none; }
  .form-control:focus {
    border-color: #f15a5a;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

textarea.form-control {
  line-height: 20px;
  line-height: 1.17647rem;
  height: 200px;
  height: 11.76471rem; }

.input-group .form-control:first-child {
  border-radius: 5px; }
.input-group .input-group-btn {
  padding-left: 8px;
  padding-left: 0.47059rem; }
  .input-group .input-group-btn .btn {
    height: 54px;
    height: 3.17647rem;
    line-height: 54px;
    line-height: 3.17647rem;
    border-radius: 5px;
    border-color: #2e90b8;
    text-transform: uppercase; }

/* Customize bootstrap buttons */
.btn {
  height: 44px;
  height: 2.58824rem;
  line-height: 45px;
  line-height: 2.64706rem;
  padding: 0 40px;
  padding: 0 2.35294em;
  background: #f15a5a;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: all 400ms;
  -moz-transition: all 400ms;
  -webkit-transition: all 400ms;
  font-weight: 500; }
  .btn:hover {
    background: #ed2b2b;
    color: #fff; }
  .btn:active, .btn:focus {
    color: #fff;
    outline: none; }

/* Pricing table */
.pricing-table {
  display: table;
  width: 100%;
  margin-top: 70px;
  margin-top: 4.11765rem; }
  @media (max-width: 480px) {
    .pricing-table {
      margin-top: 20px;
      margin-top: 1.17647rem; } }
  .pricing-table .pricing-cell {
    /* Pricing table-cell */
    display: table-cell;
    padding: 0 6px;
    padding: 0 0.35294em;
    color: #6c6c6c; }
    .pricing-table .pricing-cell .cell-header {
      /* Cell header */
      border-radius: 6px 6px 0 0;
      background-color: #fff;
      text-align: center;
      font-size: 30px;
      font-size: 1.76471rem;
      line-height: 87px;
      line-height: 5.11765rem;
      text-transform: uppercase;
      font-weight: 300;
      border: 1px solid #dbdbdb;
      border-bottom: none; }
    .pricing-table .pricing-cell .cell-body {
      /* Cell body */
      background-color: #fff;
      padding: 0 14px;
      padding: 0 0.82353em;
      text-align: center;
      border: 1px solid #dbdbdb;
      border-bottom: none;
      border-top: none; }
      .pricing-table .pricing-cell .cell-body .price {
        font-size: 66px;
        font-size: 3.88235rem;
        line-height: 125px;
        line-height: 7.35294rem;
        margin-left: -14px;
        margin-left: -0.82353rem;
        margin-right: -14px;
        margin-right: -0.82353rem;
        font-weight: 500;
        background: #f1f1f1;
        color: #6d6d6d; }
        .pricing-table .pricing-cell .cell-body .price sup {
          font-weight: 400;
          font-size: 32px;
          font-size: 1.88235rem;
          line-height: 1;
          top: -0.9em; }
      .pricing-table .pricing-cell .cell-body ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .pricing-table .pricing-cell .cell-body ul li {
          line-height: 62px;
          line-height: 3.64706rem;
          font-size: 18px;
          font-size: 1.05882rem;
          font-weight: 300;
          border-bottom: 1px dashed #7c7c7c; }
    .pricing-table .pricing-cell .cell-footer {
      /* Cell footer */
      background-color: #fff;
      padding: 31px 14px 18px;
      padding: 1.82353em 0.82353em 1.05882em;
      border-radius: 0 0 6px 6px;
      border: 1px solid #dbdbdb;
      border-top: none; }
      .pricing-table .pricing-cell .cell-footer .btn {
        border-color: #2e90b8;
        line-height: 48px;
        line-height: 2.82353rem;
        height: 48px;
        height: 2.82353rem; }
    .pricing-table .pricing-cell.actual {
      /* Primary cell */ }
      .pricing-table .pricing-cell.actual .cell-header {
        background-color: #2e90b8;
        color: #fff; }
      .pricing-table .pricing-cell.actual .cell-body {
        color: #fff;
        background-color: #2e90b8; }
        .pricing-table .pricing-cell.actual .cell-body .price {
          background: #2782a7;
          color: #fff; }
        .pricing-table .pricing-cell.actual .cell-body ul li {
          border-color: #fff; }
      .pricing-table .pricing-cell.actual .cell-footer {
        background-color: #2e90b8; }
        .pricing-table .pricing-cell.actual .cell-footer .btn {
          border: 2px solid #fff;
          background: #23789b; }
          .pricing-table .pricing-cell.actual .cell-footer .btn:hover {
            background: #1a5871; }

.no-scroll {
  overflow: hidden; }

.site-wrapper {
  opacity: 0;
  -webkit-transition: all 1000ms;
  -o-transition: all 1000ms;
  transition: all 1000ms; }
  .site-wrapper.in {
    opacity: 1; }

/* Site loader animation and properties */
.loader {
  background: #f15a5a;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .loader .spinner {
    font-size: 11px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em #FFF;
    border-radius: 50%; }
    .loader .spinner:before, .loader .spinner:after {
      content: "";
      border-radius: 50%;
      display: block;
      position: absolute; }
    .loader .spinner:before {
      width: 5.2em;
      height: 10.2em;
      background: #f15a5a;
      border-radius: 10.2em 0 0 10.2em;
      top: -0.1em;
      left: -0.1em;
      -webkit-transform-origin: 5.2em 5.1em;
      -moz-transform-origin: 5.2em 5.1em;
      transform-origin: 5.2em 5.1em;
      -webkit-animation: load2 2s infinite ease 1.5s;
      -moz-animation: load2 2s infinite ease 1.5s;
      animation: load2 2s infinite ease 1.5s; }
    .loader .spinner:after {
      width: 5.2em;
      height: 10.2em;
      background: #f15a5a;
      border-radius: 0 10.2em 10.2em 0;
      top: -0.1em;
      left: 5.1em;
      -webkit-transform-origin: 0px 5.1em;
      -moz-transform-origin: 0px 5.1em;
      transform-origin: 0px 5.1em;
      -webkit-animation: load2 2s infinite ease;
      -moz-animation: load2 2s infinite ease;
      animation: load2 2s infinite ease; }
  .loader.up {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
    visibility: hidden;
    opacity: 1; }

@keyframes load2 {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes load2 {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Slick Slider properties */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  margin-top: 80px;
  margin-top: 4.70588rem; }
  .slick-slider.thumb-slider, .slick-slider.testimonials-slider {
    margin-top: 30px;
    margin-top: 1.76471rem; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block;
    margin: auto; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }
  .slick-slide.media {
    margin-top: 0; }

.slick-dots {
  list-style: none;
  text-align: center;
  font-size: 0;
  padding: 0;
  margin-top: 40px;
  margin-top: 2.35294rem; }
  @media (max-width: 480px) {
    .slick-dots {
      margin-top: 20px;
      margin-top: 1.17647rem; } }
  .slick-dots > li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 2px;
    padding-left: 0.11765rem;
    padding-right: 2px;
    padding-right: 0.11765rem; }
    .slick-dots > li button {
      width: 12px;
      width: 0.70588rem;
      height: 12px;
      height: 0.70588rem;
      font-size: 0;
      padding: 0;
      background: #fff;
      border-radius: 50%;
      border: none;
      text-indent: -9999px;
      outline: none;
      display: block;
      transition: all 400ms;
      -moz-transition: all 400ms;
      -webkit-transition: all 400ms; }
    .slick-dots > li.slick-active button {
      background: #2e90b8; }

.thumb-slider .slick-dots, .testimonials-slider .slick-dots {
  margin-top: 30px;
  margin-top: 1.76471rem; }

/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }
  .flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden; }
    .flexslider .slides > li .slide-content {
      padding: 80px 0;
      padding: 4.70588em 0;
      position: absolute;
      top: 0;
      -webkit-transition: all 400ms;
      -o-transition: all 400ms;
      transition: all 400ms;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      width: 50%;
      min-height: 100%; }
      @media (max-width: 992px) {
        .flexslider .slides > li .slide-content {
          width: 60%; } }
      @media (max-width: 768px) {
        .flexslider .slides > li .slide-content {
          text-align: center;
          width: 60%;
          left: 0;
          right: 0;
          margin: auto;
          padding-left: 15px;
          padding-left: 0.88235rem;
          padding-right: 15px;
          padding-right: 0.88235rem; } }
      @media (max-width: 480px) {
        .flexslider .slides > li .slide-content {
          width: 100%; } }
      .flexslider .slides > li .slide-content h2 {
        font-size: 64px;
        font-size: 3.76471rem;
        margin: 0; }
        @media (max-width: 768px) {
          .flexslider .slides > li .slide-content h2 {
            font-size: 44px;
            font-size: 2.58824rem; } }
    .flexslider .slides > li .vertical-align {
      display: table;
      height: 100%; }
      .flexslider .slides > li .vertical-align .slide-content {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        text-align: center;
        position: static; }
    .flexslider .slides > li.flex-active-slide .tada {
      -webkit-animation-name: rubberBand;
      animation-name: rubberBand; }
    .flexslider .slides > li.flex-active-slide .bounce-in {
      -webkit-animation-name: bounceIn;
      animation-name: bounceIn; }
    .flexslider .slides > li.flex-active-slide .flip-in-y {
      -webkit-backface-visibility: visible !important;
      backface-visibility: visible !important;
      -webkit-animation-name: flipInY;
      animation-name: flipInY; }
    .flexslider .slides > li.flex-active-slide .fade-in-left-big {
      -webkit-animation-name: fadeInLeftBig;
      animation-name: fadeInLeftBig; }
  .flexslider .slides img {
    display: block; }
  .flexslider.full-page-slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0; }
    .flexslider.full-page-slider .slides {
      position: absolute;
      width: 100%;
      height: 100%; }
      .flexslider.full-page-slider .slides .container {
        width: 50%; }
      .flexslider.full-page-slider .slides li {
        height: 100%;
        background-size: cover;
        background-position: center center; }
    .flexslider.full-page-slider .flex-control-nav {
      display: none; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }
  .flex-direction-nav .flex-nav-prev, .flex-direction-nav .flex-nav-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90px;
    width: 5.29412rem;
    height: 90px;
    height: 5.29412rem;
    line-height: 88px;
    line-height: 5.17647rem;
    border: 1px solid #fff;
    display: block;
    margin: auto;
    z-index: 100;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms; }
    @media (max-width: 992px) {
      .flex-direction-nav .flex-nav-prev, .flex-direction-nav .flex-nav-next {
        top: auto;
        bottom: 25px;
        bottom: 1.47059rem; } }
    .flex-direction-nav .flex-nav-prev:hover, .flex-direction-nav .flex-nav-next:hover {
      opacity: 1; }
  .flex-direction-nav .flex-nav-prev {
    left: 10px;
    left: 0.58824rem;
    -webkit-transform: translate(-150px, 0);
    -ms-transform: translate(-150px, 0);
    -o-transform: translate(-150px, 0);
    transform: translate(-150px, 0); }
  .flex-direction-nav .flex-nav-next {
    right: 10px;
    right: 0.58824rem;
    -webkit-transform: translate(150px, 0);
    -ms-transform: translate(150px, 0);
    -o-transform: translate(150px, 0);
    transform: translate(150px, 0); }
  .flex-direction-nav a {
    color: #fff;
    font-size: 18px;
    font-size: 1.05882rem;
    display: block; }
    .flex-direction-nav a:hover {
      color: #fff; }

.flexslider.full-page-slider .flex-nav-prev {
  left: 150px;
  left: 8.82353rem; }
.flexslider.full-page-slider .flex-nav-next {
  right: 150px;
  right: 8.82353rem; }

.flexslider:hover .flex-nav-prev, .flexslider:hover .flex-nav-next {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: .27;
  visibility: visible; }
  .flexslider:hover .flex-nav-prev:hover, .flexslider:hover .flex-nav-next:hover {
    opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: .3 !important;
  filter: alpha(opacity=30);
  cursor: default; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
  z-index: 100;
  line-height: 12px; }
  .flex-control-nav li {
    margin: 0 1px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    line-height: 12px; }

.flex-control-paging li a {
  width: 12px;
  height: 12px;
  display: block;
  background: transparent;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0 1px #fff inset;
  box-shadow: 0 0 0 1px #fff inset; }
  .flex-control-paging li a:hover {
    background: #fff; }
  .flex-control-paging li a.flex-active {
    background: #fff;
    cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }
  .flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0; }
  .flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer; }
    .flex-control-thumbs img:hover {
      opacity: 1; }
  .flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0; } }

/* Body main properties */
html {
  /* Setup base font-size */
  font-size: 17px; }
  @media (max-width: 768px) {
    html {
      /* Setup base font-size for tablets */
      font-size: 14px; } }
  @media (max-width: 480px) {
    html {
      /* Setup base font-size for mobile devices */
      font-size: 12px; } }

body {
  font-family: 'Open Sans', sans-sarif;
  font-size: 17px;
  font-size: 1rem;
  font-weight: 300; }

/* Default links */
a {
  color: #2e90b8; }
  a:hover {
    color: #2e90b8; }

ul {
  margin-bottom: 0; }

/* Global wrapper */
.site-wrapper {
  overflow: hidden; }

/* Top bar */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12); }
  .top-bar .brand-logo {
    /* Brand logo styles */
    height: 109px;
    height: 6.41176rem;
    max-width: 228px; }
    .top-bar .brand-logo a {
      color: #4d4d4d;
      text-decoration: none;
      display: block;
      height: 109px;
      height: 6.41176rem;
      padding-top: 10px;
      padding-top: 0.58824rem;
      vertical-align: middle; }
      @media (max-width: 480px) {
        .top-bar .brand-logo a {
          padding-top: 0; } }
      .top-bar .brand-logo a .text-primary {
        color: #f15a5a; }
    .top-bar .brand-logo img {
      max-width: 100%; }
    .top-bar .brand-logo h1 {
      font-weight: 700;
      margin: 0;
      line-height: 109px;
      line-height: 6.41176rem; }
  .top-bar .nav {
    /* Navigation */
    position: relative; }
    .top-bar .nav * {
      -webkit-transition: all 400ms;
      -o-transition: all 400ms;
      transition: all 400ms; }
    .top-bar .nav ul {
      padding: 0;
      margin: 0; }
      @media (max-width: 992px) {
        .top-bar .nav ul {
          position: absolute;
          top: 100%;
          right: 0;
          left: 0;
          width: 50%;
          border-top: 3px solid #f15a5a;
          margin: auto;
          background-color: #fff;
          padding: 0;
          visibility: hidden;
          opacity: 0;
          max-height: 0;
          overflow: auto; } }
      .top-bar .nav ul li {
        padding: 0; }
        @media (max-width: 992px) {
          .top-bar .nav ul li {
            display: block; } }
        .top-bar .nav ul li a {
          display: block;
          line-height: 109px;
          line-height: 6.41176rem;
          height: 109px;
          height: 6.41176rem;
          font-size: 15px;
          font-size: 0.88235rem;
          padding: 0 18px;
          padding: 0 1.05882em;
          color: #000000;
          font-weight: 300;
          text-decoration: none;
          position: relative; }
          .top-bar .nav ul li a:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            border-top: 0 solid #8B008B;
            -webkit-transition: all 400ms;
            -o-transition: all 400ms;
            transition: all 400ms; }
          .top-bar .nav ul li a:hover, .top-bar .nav ul li a.active {
            /* Hover and active state navigation links */
            background: transparent; }
            .top-bar .nav ul li a:hover:after, .top-bar .nav ul li a.active:after {
              border-top-width: 5px; }
          .top-bar .nav ul li a:active:after {
            border-top-width: 20px; }
          @media (max-width: 992px) {
            .top-bar .nav ul li a {
              line-height: 45px;
              line-height: 2.64706rem;
              height: 45px;
              height: 2.64706rem;
              font-size: 18px;
              font-size: 1.05882rem; } }
    .top-bar .nav.menu-opened {
      /* Setup collapsed navigation for mobile devices */ }
      @media (max-width: 992px) {
        .top-bar .nav.menu-opened ul {
          visibility: visible;
          opacity: 1;
          z-index: 1;
          max-height: 400px; } }
      .top-bar .nav.menu-opened .open-mobile-menu {
        color: #f15a5a; }
  .top-bar .open-mobile-menu {
    /* Button to open mobile menu */
    outline: none;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: none;
    font-size: 45px;
    font-size: 2.64706rem;
    cursor: pointer;
    background: none; }
    @media (max-width: 992px) {
      .top-bar .open-mobile-menu {
        display: block; } }
  .top-bar.waypoint, .top-bar.tiny {
    /* Fixed top bar */ }
    .top-bar.waypoint .brand-logo, .top-bar.tiny .brand-logo {
      height: 70px;
      height: 4.11765rem;
      max-width: 150px; }
      .top-bar.waypoint .brand-logo a, .top-bar.tiny .brand-logo a {
        height: 70px;
        height: 4.11765rem;
        padding-top: 6px;
        padding-top: 0.35294rem; }
        @media (max-width: 480px) {
          .top-bar.waypoint .brand-logo a, .top-bar.tiny .brand-logo a {
            padding-top: 0; } }
    .top-bar.waypoint .nav li a, .top-bar.tiny .nav li a {
      line-height: 70px;
      line-height: 4.11765rem;
      height: 70px;
      height: 4.11765rem; }
  .top-bar.dark {
    background: rgba(0, 0, 0, 0.5); }
    .top-bar.dark .open-mobile-menu {
      color: #fff; }
    .top-bar.dark .nav ul li a {
      color: #fff; }
      .top-bar.dark .nav ul li a:hover, .top-bar.dark .nav ul li a.active {
        /* Hover and active state navigation links */
        background: rgba(0, 0, 0, 0.2); }
        .top-bar.dark .nav ul li a:hover:after, .top-bar.dark .nav ul li a.active:after {
          border-top-width: 5px; }
    @media (max-width: 992px) {
      .top-bar.dark .nav ul {
        background: rgba(0, 0, 0, 0.5); } }

header.header {
  /* Header section */
  position: rel; }
  header.header .form-control {
    border-color: #fff;
    color: #fff;
    height: 44px;
    height: 2.58824rem;
    line-height: 44px;
    line-height: 2.58824rem;
    border-width: 1px; }
    header.header .form-control::-moz-placeholder {
      color: #fff;
      opacity: 1; }
    header.header .form-control:-ms-input-placeholder {
      color: #fff; }
    header.header .form-control::-webkit-input-placeholder {
      color: #fff; }
    @media (max-width: 480px) {
      header.header .form-control {
        width: 48%;
        display: table-cell; } }
    header.header .form-control:focus {
      border-color: #f15a5a; }

.section {
  /* Setup sections */
  padding: 70px 0 100px;
  padding: 4.11765em 0 5.88235em; }
  @media (max-width: 480px) {
    .section {
      padding: 30px 0;
      padding: 1.76471em 0; } }
  .section.gray {
    /* Add gray background to section */
    background-color: #f5f5f5; }
  .section .section-table {
    display: table; }
    .section .section-table > div {
      float: none;
      display: table-cell;
      vertical-align: middle; }
    @media (max-width: 768px) {
      .section .section-table {
        display: block; }
        .section .section-table > div {
          display: block; } }
  .section .features .featured-image {
    /* Featured images for image slider or other features */
    float: left;
    vertical-align: top;
    width: 50%; }
    .section .features .featured-image.overlap {
      margin-left: -25%; }
    @media (max-width: 768px) {
      .section .features .featured-image {
        width: 60%; }
        .section .features .featured-image.overlap {
          margin-left: -20%; } }
    .section .features .featured-image:first-child {
      position: static; }
  .section .features img {
    max-width: 100%; }
  .section .text-italic {
    font-style: italic; }
  .section .section-title {
    /* Setup style for main page title */
    font-size: 30px;
    font-size: 1.76471rem;
    margin: 10px 0 15px 0;
    margin: 0.58824em 0 0.88235em 0;
    text-align: center;
    color: #3c3c3c;
    vertical-align: middle;
    font-weight: 300;
    text-transform: uppercase; }
    @media (max-width: 480px) {
      .section .section-title {
        font-size: 24px;
        font-size: 1.41176rem;
        white-space: nowrap; } }
    .section .section-title + p {
      position: relative;
      min-height: 1px;
      padding-left: 7px;
      padding-right: 7px;
      float: none !important;
      font-size: 15px;
      font-size: 0.88235rem; }
      @media (min-width: 768px) {
        .section .section-title + p {
          float: left;
          width: 50%; } }
      @media (min-width: 768px) {
        .section .section-title + p {
          margin-left: 25%; } }
    .section .section-title:before, .section .section-title:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      border-bottom: 1px solid #3c3c3c;
      width: 30px;
      width: 1.76471rem;
      height: 0;
      font-size: 0; }
    .section .section-title:before {
      margin-right: 10px;
      margin-right: 0.58824rem; }
    .section .section-title:after {
      margin-left: 10px;
      margin-left: 0.58824rem; }
  .section .sub-section {
    /* Sub section */ }
    .section .sub-section .section-title {
      margin: 60px 0;
      margin: 3.52941em 0; }
      @media (max-width: 480px) {
        .section .sub-section .section-title {
          margin: 20px 0;
          margin: 1.17647em 0; } }
  .section.bg {
    /* Custom backgrounds with parallax effect */
    background-repeat: no-repeat;
    background-position: top center;
    position: relative; }
    .section.bg .container {
      position: relative; }
    .section.bg.subscribe-section {
      /* Subscribe section */
      background-image: url(http://placehold.it/2620x670); }
      .section.bg.subscribe-section:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.89); }
      .section.bg.subscribe-section .form-control {
        border-color: #7f7f7f;
        background: rgba(255, 255, 255, 0.4); }
        .section.bg.subscribe-section .form-control:focus {
          border-color: #f15a5a; }
      .section.bg.subscribe-section .social {
        background: #fff; }
        .section.bg.subscribe-section .social:hover, .section.bg.subscribe-section .social:focus, .section.bg.subscribe-section .social:active {
          color: #fff;
          background: #2e90b8; }
    .section.bg.our-client-section {
      /* Our clients section */
      background-image: url(http://placehold.it/2620x670); }
    .section.bg.testimonials-section {
      /* Testimonial section */
      background-image: url(http://placehold.it/2620x670); }
  .section h2:not(.section-title) {
    /* Section sub-heading */
    font-size: 25px;
    font-size: 1.47059rem;
    color: #2e90b8;
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding-bottom: 6px;
    padding-bottom: 0.35294rem;
    margin: 0 0 10px 0;
    margin: 0 0 0.58824em 0; }
    @media (max-width: 480px) {
      .section h2:not(.section-title) {
        text-align: center; } }
  .section ul.marked {
    /* Marked list with awesome icons */
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    margin: 0 0 1.17647em 0; }
    .section ul.marked li {
      line-height: 37px;
      line-height: 2.17647rem; }
      .section ul.marked li:before {
        /* You can change this code */
        content: "\f00c";
        font-family: FontAwesome;
        font-size: 12px;
        font-size: 0.70588rem;
        width: 26px;
        width: 1.52941rem;
        height: 26px;
        height: 1.52941rem;
        line-height: 24px;
        line-height: 1.41176rem;
        color: #2e90b8;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        margin-right: 0px;
        margin-right: 0rem;
        -webkit-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms; }
  .section .step {
    margin-top: 30px;
    margin-top: 1.76471rem; }
    @media (max-width: 992px) {
      .section .step {
        text-align: center; } }
    .section .step .step-icon {
      line-height: 48px;
      line-height: 2.82353rem;
      font-size: 48px;
      font-size: 2.82353rem;
      text-align: center;
      color: #2e90b8;
      font-weight: 400;
      float: left;
      margin: 0 7px 0 0;
      margin: 0 0.41176em 0 0;
      position: relative; }
      @media (max-width: 992px) {
        .section .step .step-icon {
          float: none;
          margin: auto;
          display: block;
          margin-bottom: 20px;
          margin-bottom: 1.17647rem; } }
    .section .step .text {
      overflow: hidden;
      margin-right: 30px;
      margin-right: 1.76471rem; }
      @media (max-width: 992px) {
        .section .step .text {
          margin-right: 0; } }
    .section .step h4 {
      font-size: 17px;
      font-size: 1rem;
      color: #222222;
      font-weight: 600;
      margin: 0 0 4px 0;
      margin: 0 0 0.23529em 0; }
    .section .step p {
      font-size: 15px;
      font-size: 0.88235rem;
      margin: 0; }

@media (max-width: 768px) {
  .image-slider {
    text-align: center; }
    .image-slider img {
      margin-bottom: 20px;
      margin-bottom: 1.17647rem; } }

.table-responsive {
  border: none;
  margin: 0; }

/* Tile gallery */
.gallery {
  margin-left: -3.5px;
  margin-right: -3.5px;
  padding-top: 60px;
  padding-top: 3.52941rem; }
  .gallery:before, .gallery:after {
    content: " ";
    display: table; }
  .gallery:after {
    clear: both; }
  .gallery:before, .gallery:after {
    content: " ";
    display: table; }
  .gallery:after {
    clear: both; }
  @media (max-width: 480px) {
    .gallery {
      padding-top: 20px;
      padding-top: 1.17647rem; } }
  .gallery .item {
    /* Tile gallery item */
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    min-height: 1px;
    padding-left: 7px;
    padding-right: 7px;
    padding: 3px;
    border-radius: 5px; }
    @media (min-width: 768px) {
      .gallery .item {
        float: left;
        width: 25%; } }
    @media (max-width: 480px) {
      .gallery .item {
        text-align: center; } }
    .gallery .item img {
      width: 100%;
      border-radius: 5px; }
      @media (max-width: 480px) {
        .gallery .item img {
          width: auto;
          max-width: 100%; } }
    .gallery .item .hover {
      border-radius: 5px;
      visibility: hidden;
      opacity: 0;
      margin: 3px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(46, 144, 184, 0.3);
      -webkit-transition: all 400ms;
      -o-transition: all 400ms;
      transition: all 400ms; }
      .gallery .item .hover .fa {
        width: 50px;
        height: 50px;
        background-color: #f15a5a;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 20px;
        font-size: 1.17647rem;
        margin: auto;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: all 1s cubic-bezier(.06, 1.79, .77, .7);
        -o-transition: all 1s cubic-bezier(.06, 1.79, .77, .7);
        transition: all 1s cubic-bezier(.06, 1.79, .77, .7); }
    .gallery .item:hover .hover {
      visibility: visible;
      opacity: 1; }
      .gallery .item:hover .hover .fa {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1); }

/* Team list */
.team {
  margin-top: 60px;
  margin-top: 3.52941rem;
  text-align: center; }
  @media (max-width: 768px) {
    .team figure {
      margin-bottom: 20px;
      margin-bottom: 1.17647rem; } }
  .team h4 {
    font-size: 17px;
    font-size: 1rem;
    font-weight: 500;
    color: #434343;
    margin: 10px 0 4px 0;
    margin: 0.58824em 0 0.23529em 0; }
  .team .position {
    color: #2e90b8;
    font-size: 15px;
    font-size: 0.88235rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 9px;
    margin-bottom: 0.52941rem; }
  .team p {
    font-size: 16px;
    font-size: 0.94118rem;
    padding: 0 25px;
    padding: 0 1.47059em; }
  .team img {
    max-width: 100%;
    margin-bottom: 10px;
    margin-bottom: 0.58824rem;
    border-radius: 5px; }
    @media (max-width: 480px) {
      .team img {
        width: auto;
        max-width: 100%; } }
  .team .list-inline li {
    padding: 0 15px;
    padding: 0 0.88235em;
    font-size: 20px;
    font-size: 1.17647rem;
    color: #9c9c9c;
    position: relative; }
    .team .list-inline li:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: block;
      height: 11px;
      border-right: 1px solid #c2c2c2; }
    .team .list-inline li:last-child:after {
      display: none; }
    .team .list-inline li a {
      color: #9c9c9c; }
      .team .list-inline li a:hover {
        color: #f15a5a; }

/* Contact data */
.info {
  margin-top: 60px;
  margin-top: 3.52941rem; }
  .info .fa {
    font-size: 68px;
    font-size: 4rem;
    color: #2e90b8; }
  .info h3 {
    color: #232f2f;
    margin: 17px 0 4px 0;
    margin: 1em 0 0.23529em 0;
    font-size: 20px;
    font-size: 1.17647rem;
    font-weight: 500;
    text-transform: uppercase; }
  .info p {
    font-size: 15px;
    font-size: 0.88235rem; }
  @media (max-width: 480px) {
    .info > div:nth-child(2n+1) {
      clear: left; } }

/* Map is responsive ready */
.map.embed-responsive {
  padding-bottom: 400px;
  padding-bottom: 23.52941rem; }

/* Subcribe form */
.subscribe {
  margin: 40px 0;
  margin: 2.35294em 0; }
  .subscribe .form-control {
    height: 54px;
    height: 3.17647rem;
    line-height: 54px;
    line-height: 3.17647rem; }
  @media (max-width: 480px) {
    .subscribe {
      margin: 20px 0;
      margin: 1.17647em 0; }
      .subscribe .input-group {
        display: block; }
      .subscribe .form-control, .subscribe .input-group-btn {
        display: block;
        float: none; }
      .subscribe .input-group-btn {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-top: 1.17647rem; } }
  .subscribe .alert {
    display: none;
    margin-top: 20px;
    margin-top: 1.17647rem; }
    .subscribe .alert.alert-danger, .subscribe .alert.alert-success {
      display: block; }

/* Testimonial slider */
.testimonials-slider .media {
  padding-right: 45px;
  padding-right: 2.64706rem; }
  @media (max-width: 480px) {
    .testimonials-slider .media {
      padding-right: 15px;
      padding-right: 0.88235rem;
      padding-left: 15px;
      padding-left: 0.88235rem; } }
  .testimonials-slider .media img {
    border-radius: 5px; }
  .testimonials-slider .media h4 {
    font-size: 17px;
    font-size: 1rem;
    font-weight: 500;
    color: #727272; }
  .testimonials-slider .media p {
    font-size: 15px;
    font-size: 0.88235rem;
    line-height: 20px;
    line-height: 1.17647rem; }
  .testimonials-slider .media cite {
    float: right;
    font-size: 13px;
    font-size: 0.76471rem;
    font-style: normal;
    color: #2e90b8;
    font-weight: 500; }

/* Social icons list */
.social {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #e3e3e3;
  width: 51px;
  width: 3rem;
  height: 51px;
  height: 3rem;
  line-height: 51px;
  line-height: 3rem;
  text-align: center;
  color: #9c9c9c;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms; }
  .social:hover {
    background-color: #2e90b8;
    color: #fff;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }

/* Footer */
.footer {
  background: #f3f3f3;
  padding-top: 34px;
  padding-top: 2rem;
  /* Copyright style */ }
  .footer .social {
    background: #fff; }
    .footer .social:hover {
      background: #2e90b8; }
  .footer .copy {
    text-align: center;
    margin: 0 40px;
    margin: 0 2.35294em;
    font-size: 13px;
    font-size: 0.76471rem;
    padding: 10px 0 20px;
    padding: 0.58824em 0 1.17647em; }
